.wrapper {
	overflow-x: scroll;
}

.users-table tr:nth-of-type(odd) {
	background: #eee;
}
.users-table th {
	cursor: pointer;
	background: #333;
	color: white;
	font-weight: bold;
}
.users-table td,
.users-table th {
	border: 1px solid #ccc;
	padding: 6px;
	text-align: left;
}
